<div class="row justify-content-center p-5">
  <div class="col-md-6">
    <div>
      <div class="p-3 border bg-light">
        <h2>Register your island:</h2>
        <%= simple_form_for @island do |f| %>
        <div class="form-inputs">
          <%= f.input :name  %>
          <%= f.input :description, as: :text, :input_html => { class: 'description_area', :cols => 5, :rows => 10 } %>
          <%= f.input :price %>
          <%= f.input :location %>
          <%= f.input :address %>
          <%= f.input :image, as: :file %>


        </div>

        <div class="form-actions">
          <%= f.button :submit, "Register", class:"btn btn-primary"%>
        </div>
        <% end %>

      </div>
    </div>
  </div>
