<div class="container">

  <div class="banner banner-main" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'zunnoon-ahmed-06Fc_R9hA8w-unsplash.jpg' %>')">

    <div class="banner-content">

      <h1>Get to know MySland</h1>

      <div style="padding-bottom: 20px;">
        Welcome to the MySland Experience community. Wherever you go, we have an island for you.
      </div>

      <%= link_to "Explore an island to go!", islands_path, class: 'btn btn-primary' %>

    </div>
  </div>

<!-- <section> -->
  <div class="d-flex">

    <div class="about-box">
      <%= image_tag "grand.jpg", height: '320', width: '520' %>
      <h2 class="">A place to stay for every trip</h2>
      <p class="">Mé faiz elementum girarzis, nisi eros vermeio. Quem num gosta di mim que vai caçá sua turmis! Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Per aumento de cachacis, eu reclamis.
      </p>
    </div>

    <div class="about-box">
      <%= image_tag "kudadoo.jpg", height: '320', width: '520' %>
      <h2 class="">One-of-a-kind experiences</h2>
      <p class="">Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis. Quem num gosta di mim que vai caçá sua turmis! Cevadis im ampola pa arma uma pindureta. In elementis mé pra quem é amistosis quis leo.
      </p>
    </div>

  </div>


      <h2 class="text-center">How it works</h2>
      <div class="cards">

        <div class="card">
          <%= image_tag "location_search.png", height: '32', width: '92' %>
          <h4>Filter down to your perfect fit</h4>
          <p>Personalize your search with filters—like price range or a pool—to get exactly what you want.</p>
        </div>

        <div class="card">
          <%= image_tag "moments.png", height: '32', width: '92' %>
          <h4>Dig into the details</h4>
          <p>Check out the photos. Then, read guest reviews from past reservations to learn what it’s like in person.</p>
        </div>

        <div class="card">
          <%= image_tag "Booking.png", height: '32', width: '92' %>
          <h4>Book with peace of mind</h4>
          <p>We keep your info safe and follow global security standards to process your payments.</p>
        </div>

        <div class="card">
          <%= image_tag "having_fun.png", height: '32', width: '92' %>
          <h4>Arrive and enjoy!</h4>
          <p>Your host is only a message away if you have any questions. They can also offer local tips and advice.</p>
        </div>

      </div>
<!-- </section> -->
</div>
