<div class="container">

 <h1 class="header-reserv">My Reservations</h1>

  <div class="cards-container">

  <% @reservations.each do |reservation| %>
    <div class="card-reserv">
    <%= image_tag "island-maldives.jpg", height: '250', width: '280' %>
      <h2><%= reservation.island.name %></h2>
      <h4>Informações da Reserva</h4>
      <p>Check-in: <%= reservation.check_in %></p>
      <p>Check-out: <%= reservation.check_out %></p>
      <p>Price: <%= reservation.island.price %></p>
      <p>Status da Reserva:<%= reservation.status %></p>
      <p>Maiores detalhes:
      <%= link_to reservation.island.name, reservation_path(reservation) %>
      </p>
    </div>
  <%end%>
  </div>
</div>
