<% status = ['Waiting', 'Payment approved', 'Confirmed', 'Canceled']%>

<div class="container">
 <h1 class="">My Reservations</h1>
  <div class="cards">
  <% @reservations.each do |reservation| %>
    <div class="card-reserv">
    <%= cl_image_tag reservation.island.image.key, height: 300, width: 400, crop: :fill %>
      <h2><%= reservation.island.name %></h2>
      <p>Check-in: <%= reservation.check_in %></p>
      <p>Check-out: <%= reservation.check_out %></p>
      <p>Total price: US<%= number_to_currency( reservation.island.price * ( reservation.check_out - reservation.check_in ).to_i ) %></p>
      <p>Status: <%= status[reservation.status] %></p>
      <%= link_to "Further info", reservation_path(reservation), class: "" %>
      </p>
    </div>
  <%end%>
  </div>
</div>
