<div class="container mt-5">
  <div class="row">

    <div class="col-8">
      <h2>Your reservation of <%= @reservation.island.name %> island
      </h2>
      <p><strong>Location:</strong>
        <%=@reservation.island.location%>
      </p>
      <p>
        <%= cl_image_tag @reservation.island.image.key, height: 300, width: 400, crop: :fill %>
      </p>
      <!-- <div class="island-image" style="background-image: url('https://source.unsplash.com/500x400/?island')"></div> -->
      <p class="w-75 mt-4">
        <%= @reservation.island.description%>
      </p>
    </div>

    <div class="col-4 text-right">
      <ul class="mt-4 list-group">
        <li class="list-group-item">Check-in: <%= @reservation.check_in %></li>
        <li class="list-group-item">Check-out: <%= @reservation.check_out %></li>
        <li class="list-group-item">Your name: <%= "#{@reservation.user.first_name} #{@reservation.user.last_name}"%></li>
        <li class="list-group-item">Your Tax ID: <%= @reservation.user.cpf %></li>
      </ul>
      <a href="#" class="btn btn-primary mt-4">Talk to your host</a>
    </div>


  </div>
</div>
